@media only screen and (max-width:1200px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width:1000px) {
    html {
        font-size: 13px;
    }
    #Flavour-Selection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20%, auto));
        gap: 1.5rem;
    }
    #Product-Content {
        display: none;
        grid-template-columns: repeat(auto-fit, minmax(20%, auto));
        gap: 1.5rem;
    }
}

@media only screen and (max-width:900px) {
    html {
        font-size: 12px;
    }
    header {
        justify-content: flex-end;
    }

    #Nav-Check {
        display: flex;
        flex-basis: 10%;
        justify-content: center;
    }

    nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 30%;
        margin-top: 4rem;
        padding: 2%;
        left: 0;
        top: -100%;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 10px 13px -4px rgba(0,0,0,0.35);
        border-radius: 0 0 1rem 1rem;
        align-items: center;
        overflow: auto;
        justify-content: flex-start;
        flex-basis: 0;
        gap: 1.5rem;
        z-index: -2;
        transition: all 1s ease;  
    }

    nav a {
        font-weight: 500;
        color: #0d3396;
        font-family: 'Poppins';
        font-size: 1.2rem;
        padding: 0.3rem 1rem;
        border-radius: 0.6rem;
        transition: all 0.3s ease;
    }

    nav a:hover {
        color: #0d3396;
        background: #ffffff;
        border-radius: 0.6rem;
    }

    .Nav-Active-Slide {
        top: 0;
    }

    .Nav-Active {
        top: 0;
        color: white;
        background: #0d3396;
    }

    .Nav-Cart {
        display: flex;
        flex-basis: 10%;
        justify-content: center;
        position: relative;
        justify-self: flex-end;
    }

    .Nav-Logo {
        flex-basis: 80%;
        justify-content: flex-start;
    }
    #Atricle-Order {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        width: 100%;
    }
    #Section-Order{
        margin:  0 5rem;
    }
    #Order-Main {
        padding: 2rem;
        gap: 2rem;
    }
    #Section-Order{
        flex-basis: auto;
    }
    #Section-History {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;   
        margin-top: 7rem;
    }
    #History-Image {
        display: none;
    }
    #Section-Location {
        display: flex;
        flex-direction:column;
    }
    #Location-Content {
        flex-basis: 50%;
    }
    #Location-Images {
        flex-basis: 50%;
        flex-basis: 70%;
        overflow: auto;
        position: absolute;
    }
    #Flavour-Selection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, auto));
        gap: 1.5rem;
    }
    #Product-Content {
        display: none;
        grid-template-columns: repeat(auto-fit, minmax(30%, auto));
        gap: 1.5rem;
    }

}

@media only screen and (max-width:700px) {
    html {
        font-size: 10px;
    }

    #Nav-Check {
        display: flex;
        flex-basis: 10%;
        justify-content: center;
    }

    .Nav-Cart {
        display: flex;
        flex-basis: 10%;
        justify-content: center;
        position: relative;
        justify-self: flex-end;
    }

    .Nav-Logo {
        flex-basis: 80%;
        justify-content: flex-start;
    }
    #Section-Order{
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
    }

}

@media only screen and (max-width:500px) {
    html {
        font-size: 7px;
    }

    #Feature-Title {
        font-size: 5rem;
    }

    #Article-Feature{
        flex-direction: column;
        width: 50%;
        margin: 2rem auto;
        gap: 2rem;
    }

}
